.nav-tabs .nav-item {
    background: #E0ECF4;
    .nav-link{
        color: black;
    }
    .nav-link.active{
        color:#022c69;
    }
}

.form-wrapper{
    background: white;
    width: max-content;
    padding: 1rem;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
}
.container-login{
    max-width: 450px !important;
    margin-top:4rem;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 6px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
}

.btn-plus{
    cursor:pointer;
    width:45px;
    height: 38px;
    border-radius: 30px;
    background: #022c69;
    margin:1rem;
    float:right;
    display: block;

    &:hover{
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
}

.nav-item{
    margin-right:1rem;
}

.icon-sign-out{
   font-size: 1.2rem;
   cursor:pointer;
}

.delete-icon{

    &:hover{
        cursor:pointer
    }
    ;
}

.disciplinas{
    display: flex;
    padding: 0.1rem 0.4rem;
    .actions{
        margin-left:4rem;
    }

    &:hover{
        background: rgba(0,0,0,0.15);
    }
}

.edit-icon{
    &:hover{
        cursor: pointer;
    }
}

.semestre{
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0.4rem;

    &:hover{
        background-color: rgba(0,0,0,0.15);
    }
}

.list-group-item{
    display: flex;
    justify-content: space-between;

    .actions{
        width: 35px;
        display: flex;
        justify-content: space-between;
    }
}

.plus-icon{
    color:white;
    font-size: 1.4rem;    
}

.form-login{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.form-matriz{
    width: 400px;
    display: flex;
    flex-direction: column;

}

.nav-custom-color{
    background-color: #022c69;
    color:white;
    margin-bottom: 4rem;
}

.nav-item a{
    color:white;
}

.navbar-brand{
    color:white;
}